/*  your css code here. If applicable */
body{
	background-color: #cccccc;
}
h1,h2{
	text-align:center;
}
.player_one{
    background-color: white;
	border:1px solid gray;
	border-radius: 4px;
}
.player_two{
	background-color: white;
	border:1px solid gray;
	border-radius: 4px;
	margin: 2% 35%;
	padding:10px
}
a{
	text-decoration: none;
	color: gray;
}
h6{
	text-align:left;
	font-size:12px;
	color:gray;
}
audio{
	width:100%;
}